html
  head
  style
    include ./style.css
    title= 'Url Shortener'
  body
    div.center.main-container
      div.sub-container
        div.center
            if error
              p.error=error
        form(action='/' method='post')
          input.url-input(type='text' name='url' id='url' placeholder='URL to shorten')
          button.url-input.url-btn(type='submit') Shorten
    div.center
        p.visit-text=reqUrl
        if reqUrl 
          a.button.visit-btn(href=reqUrl target='_blank') Visit Link
